div,span,h3,p,a,address,em,img,ul,li,form,input {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: normal;
vertical-align: baseline;
box-sizing: border-box;}

.w {width: 1200px;margin: 0 auto;}
.ddd {height: 520px;border: 1px solid pink;}
.logo {box-sizing: border-box;height: 110px;width: inherit;border-bottom: 2px solid #b3191b;margin-bottom: 20px;} 
.top {height: 32px;width: inherit;background-color: #ececec;box-sizing: border-box;border: 1px solid #dedede;}
.top h3 {padding-left: 10px;float: left;line-height: 30px;}
.top p {/* display: inline-block; */float: right;line-height: 32px;padding-right: 10px;}
.top p a {color: #d46762;}
li {list-style: none;}

.middle {height: 420px;width: 569px;margin: auto;}
.middle ul {padding-top: 55px;}
.middle ul li p {display: inline-block;width: 100px;text-align: right;line-height: 35px;font-size: 14px;color: #505050;}
.middle ul li {position: relative;height: 35px;margin-bottom: 20px;}
.middle ul li input{font-size: 12px;padding: 3px 0 3px 10px;height: 33px;width: 240px;border: 1px solid #999999;}
.middle ul li em {margin-left: 25px;font-size: 12px;color: #df3133;line-height: 35px;}
.middle ul li .right {position: absolute;top: 8px;height: 20px;width: 20px;}
.middle li span{color: red;}

.finish-res{width: 200px;height: 30px;background-color: red;font-size: 15px;color: white;margin-left: 100px;}

.footer_bottom_down ul {height: 12px;margin-top: 45px;margin-left: 90px;}
.footer_bottom_down ul li a{display: block;float: left;line-height: 12px;color: #666666;padding: 0 15px;font-size: 12px;border-right: 1px solid #666666;}
.footer_bottom_down ul li:last-child a {border-right: 0;}
.footer_bottom_down .address_tel_email{color: #666666;font-size: 12px;text-align: center;}
.footer_bottom_down p:nth-of-type(1) {padding-top: 5px;}
